* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

header, footer {
    background-color: purple;
    color: white;
    padding: 2em;
}

.container {
    height: 64vh;
    padding: 2em;
}

h3 {
    margin-bottom: 0.5em;
}

input {
    border: 2px solid purple;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    font-size: medium;
}

button {
    padding: 0.5em 1em;
    background-color: purple;
    color: white;
    font-size: large;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

footer h1 {
    padding-bottom: 0.5em;
}
.links {
    margin: 2em;
    color: white;
}